extends layout
block content
  h1= title
  form#fileUpload(method="post" action="/uploads/upload" enctype="multipart/form-data") 
    label(for="payload") Select your what'sApp .txt file to upload:     
    input#payload(type="file" name="myFile" accept="image/*") 
    br 
    button#upload Upload